@model MajorPrjt.Web.Models.Reply

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reply</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment.CommentDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReplyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
