@*@model IEnumerable<MajorPrjt.Web.Areas.User.ViewModels.CompleteForumView>*@
@using MajorPrjt.Web.Models;
@model dynamic
@{
    ViewBag.Title = "Common View";
}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div class="container text-light">
        <h2>Discussion Forum</h2>
        <p>Have a look at recent questions</p><br>
        @foreach (Topic t in Model.topiclist)
        {
            <div class="media">
                <div class="media-left">
                    <img src="/images/people-logo.png" class="media-object" style="width:45px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">@t.Title <small><i>Posted By :- @t.CreatedBy</i></small></h4>
                    <p> @t.Description </p>
                    @foreach(Comment c in Model.commentlist)
                    {
                        <div class="media">
                            <div class="media-left">
                                <img src="/images/comment.jpg" class="media-object" style="width:45px">
                            </div>
                            <p>Comments</p> 
                            
                            <div class="media-body">
                                <h4 class="media-heading">@c.CommentDescription <small><i>Commented By :- @c.CommentedBy</i></small></h4>
                                <p> @c.CommentDateTime </p>
                                @foreach (Reply r in Model.replylist)
                                {
                                    <!-- Nested media object -->
                                <div class="media">
                                    <div class="media-left">
                                        <img src="/images/reply.png" class="media-object" style="width:45px">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">@r.ReplyDescription <small><i>Replied By :- @r.RepliedBy</i></small></h4>
                                        <p> @r.ReplyDateTime </p>
                                    </div>
                                </div>
                                }
                            </div>

                        </div>
                    }
                </div>
            </div>
        }
    </div>
        
                  
@section MyView {
    <style>
            footer 
            {
                visibility: collapse;
            }
            .navbar-brand
            {
                margin-top:-50px;
            }
    </style>
}