@model MajorPrjt.Web.Models.Comment

@{
    ViewData["Title"] = "Are you sure you want to delete this?";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2></center>
<hr />

<div>
    <hr />
    <dl class="row text-light border">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentDateTime)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CommentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <b><a style="color:white;" asp-action="Index" class="btn btn-primary" >View all Comments </a></b>
    </form>
    
</div>
