@model IEnumerable<MajorPrjt.Web.Models.Comment>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>
            <th>@Html.DisplayName("Navigation Link's")</th>
            <th>@Html.DisplayName("Commented By")</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
            </td>
            <td>
                    @*@if (User.Identity.IsAuthenticated)
                    {
                        <div>@User.Identity.Name</div>
                    }*@
                    
                @Html.DisplayFor(modelItem => item.CommentedBy)
            </td>
            
        </tr>
}
    </tbody>
</table>
