@model MajorPrjt.Web.Models.Topic

@{
    ViewData["Title"] = "Question Details";
}

<h1></h1>
<center><h2 style="color:#DC143C">@ViewData["Title"]</h2></center>
<hr />

<div>

    <dl class="row text-light border">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnswered)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnswered)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
    </dl>
</div>

<div class="text-center"> 
    <b><a asp-action="Edit" asp-route-id="@Model.TopicId" class="btn btn-warning" >Edit Details</a></b>|
    <b><a style="color:white;" asp-action="Index" class="btn btn-danger" >View All Questions</a></b>
</div>
